.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
.content h1 {
  font-size: 5.5rem;
  font-weight: 800;
}
.content button {
  position: absolute;
  right: 0;
  font-size: 19px;
  padding: 9px 18px;
  min-width: 220px;
  min-height: 20px;
  background: #222;
  color: #fff;
  border: 2px solid #222;
  border-radius: 5px;
  letter-spacing: 0.7px;
  cursor: pointer;
}

.content button:hover {
  transition: 0.2s background ease-in;
  background: transparent;
  border: 2px solid #222;
  color: #222;
}
